# Import
These should be the libraries we would need throughout this project. As long as we have our api keys that we need in our own .env file, this should work for everyone

In [21]:
import pandas as pd
import csv
import pprint as pprint
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
#import sklearn.datasets as dta
#from scipy.stats import linregress
#from scipy.stats import sem
import json
import requests
import os
from dotenv import load_dotenv
# Load .env enviroment variables into the notebook
load_dotenv()
# Get the API key from the environment variable and store as Python variable
weather_api_key = os.getenv("weather_api_key")

PermissionError: [Errno 1] Operation not permitted

In [4]:
#Zillow ZHVI data 
filepath_zillow_zhvi = "data_sources/zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv"
zhviraw = pd.read_csv(filepath_zillow_zhvi)
zhviraw.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,210077.000246,...,474580.751007,477700.023919,480490.175686,482965.054900,484784.135611,486023.522915,486713.787606,487327.752727,488702.818402,490863.655271
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,137227.265500,...,539802.494668,545735.752680,551838.382379,557728.003874,564047.841208,571383.080659,578179.883051,582945.046770,584527.859569,587083.885915
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,103358.701090,...,275667.463240,276046.471281,276807.503132,277704.317637,278238.181709,278227.970902,277993.093814,277702.060665,278056.292900,278755.327431
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,146558.052897,...,463122.443843,457780.560712,455976.188384,455970.300511,455418.562614,453412.439800,450092.281523,445849.486595,443049.463008,441461.718399
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,102016.821579,...,269425.329064,270023.265648,270866.796469,271740.075276,272168.214713,272158.564737,271738.097724,271316.067046,271361.964052,271885.730062

In [10]:
all_columns = list(zhviraw.columns)
all_columns

['RegionID',
 'SizeRank',
 'RegionName',
 'RegionType',
 'StateName',
 'State',
 'City',
 'Metro',
 'CountyName',
 '2000-01-31',
 '2000-02-29',
 '2000-03-31',
 '2000-04-30',
 '2000-05-31',
 '2000-06-30',
 '2000-07-31',
 '2000-08-31',
 '2000-09-30',
 '2000-10-31',
 '2000-11-30',
 '2000-12-31',
 '2001-01-31',
 '2001-02-28',
 '2001-03-31',
 '2001-04-30',
 '2001-05-31',
 '2001-06-30',
 '2001-07-31',
 '2001-08-31',
 '2001-09-30',
 '2001-10-31',
 '2001-11-30',
 '2001-12-31',
 '2002-01-31',
 '2002-02-28',
 '2002-03-31',
 '2002-04-30',
 '2002-05-31',
 '2002-06-30',
 '2002-07-31',
 '2002-08-31',
 '2002-09-30',
 '2002-10-31',
 '2002-11-30',
 '2002-12-31',
 '2003-01-31',
 '2003-02-28',
 '2003-03-31',
 '2003-04-30',
 '2003-05-31',
 '2003-06-30',
 '2003-07-31',
 '2003-08-31',
 '2003-09-30',
 '2003-10-31',
 '2003-11-30',
 '2003-12-31',
 '2004-01-31',
 '2004-02-29',
 '2004-03-31',
 '2004-04-30',
 '2004-05-31',
 '2004-06-30',
 '2004-07-31',
 '2004-08-31',
 '2004-09-30',
 '2004-10-31',
 '2004-11-30',
 '2004-12-31',
 '2005-01-31',
 '2005-02-28',
 '2005-03-31',
 '2005-04-30',
 '2005-05-31',
 '2005-06-30',
 '2005-07-31',
 '2005-08-31',
 '2005-09-30',
 '2005-10-31',
 '2005-11-30',
 '2005-12-31',
 '2006-01-31',
 '2006-02-28',
 '2006-03-31',
 '2006-04-30',
 '2006-05-31',
 '2006-06-30',
 '2006-07-31',
 '2006-08-31',
 '2006-09-30',
 '2006-10-31',
 '2006-11-30',
 '2006-12-31',
 '2007-01-31',
 '2007-02-28',
 '2007-03-31',
 '2007-04-30',
 '2007-05-31',
 '2007-06-30',
 '2007-07-31',
 '2007-08-31',
 '2007-09-30',
 '2007-10-31',
 '2007-11-30',
 '2007-12-31',
 '2008-01-31',
 '2008-02-29',
 '2008-03-31',
 '2008-04-30',
 '2008-05-31',
 '2008-06-30',
 '2008-07-31',
 '2008-08-31',
 '2008-09-30',
 '2008-10-31',
 '2008-11-30',
 '2008-12-31',
 '2009-01-31',
 '2009-02-28',
 '2009-03-31',
 '2009-04-30',
 '2009-05-31',
 '2009-06-30',
 '2009-07-31',
 '2009-08-31',
 '2009-09-30',
 '2009-10-31',
 '2009-11-30',
 '2009-12-31',
 '2010-01-31',
 '2010-02-28',
 '2010-03-31',
 '2010-04-30',
 '2010-05-31',
 '2010-06-30',
 '2010-07-31',
 '2010-08-31',
 '2010-09-30',
 '2010-10-31',
 '2010-11-30',
 '2010-12-31',
 '2011-01-31',
 '2011-02-28',
 '2011-03-31',
 '2011-04-30',
 '2011-05-31',
 '2011-06-30',
 '2011-07-31',
 '2011-08-31',
 '2011-09-30',
 '2011-10-31',
 '2011-11-30',
 '2011-12-31',
 '2012-01-31',
 '2012-02-29',
 '2012-03-31',
 '2012-04-30',
 '2012-05-31',
 '2012-06-30',
 '2012-07-31',
 '2012-08-31',
 '2012-09-30',
 '2012-10-31',
 '2012-11-30',
 '2012-12-31',
 '2013-01-31',
 '2013-02-28',
 '2013-03-31',
 '2013-04-30',
 '2013-05-31',
 '2013-06-30',
 '2013-07-31',
 '2013-08-31',
 '2013-09-30',
 '2013-10-31',
 '2013-11-30',
 '2013-12-31',
 '2014-01-31',
 '2014-02-28',
 '2014-03-31',
 '2014-04-30',
 '2014-05-31',
 '2014-06-30',
 '2014-07-31',
 '2014-08-31',
 '2014-09-30',
 '2014-10-31',
 '2014-11-30',
 '2014-12-31',
 '2015-01-31',
 '2015-02-28',
 '2015-03-31',
 '2015-04-30',
 '2015-05-31',
 '2015-06-30',
 '2015-07-31',
 '2015-08-31',
 '2015-09-30',
 '2015-10-31',
 '2015-11-30',
 '2015-12-31',
 '2016-01-31',
 '2016-02-29',
 '2016-03-31',
 '2016-04-30',
 '2016-05-31',
 '2016-06-30',
 '2016-07-31',
 '2016-08-31',
 '2016-09-30',
 '2016-10-31',
 '2016-11-30',
 '2016-12-31',
 '2017-01-31',
 '2017-02-28',
 '2017-03-31',
 '2017-04-30',
 '2017-05-31',
 '2017-06-30',
 '2017-07-31',
 '2017-08-31',
 '2017-09-30',
 '2017-10-31',
 '2017-11-30',
 '2017-12-31',
 '2018-01-31',
 '2018-02-28',
 '2018-03-31',
 '2018-04-30',
 '2018-05-31',
 '2018-06-30',
 '2018-07-31',
 '2018-08-31',
 '2018-09-30',
 '2018-10-31',
 '2018-11-30',
 '2018-12-31',
 '2019-01-31',
 '2019-02-28',
 '2019-03-31',
 '2019-04-30',
 '2019-05-31',
 '2019-06-30',
 '2019-07-31',
 '2019-08-31',
 '2019-09-30',
 '2019-10-31',
 '2019-11-30',
 '2019-12-31',
 '2020-01-31',
 '2020-02-29',
 '2020-03-31',
 '2020-04-30',
 '2020-05-31',
 '2020-06-30',
 '2020-07-31',
 '2020-08-31',
 '2020-09-30',
 '2020-10-31',
 '2020-11-30',
 '2020-12-31',
 '2021-01-31',
 '2021-02-28',
 '2021-03-31',
 '2021-04-30',
 '2021-05-31',
 '2021-06-30',
 '2021-07-31',
 '2021-08-31',
 '2021-09-30',
 '2021-10-31',
 '2021-11-30',
 '2021-12-31',
 '2022-01-31',
 '2022-02-28',
 '2022-03-31',
 '2022-04-30',
 '2022-05-31',
 '2022-06-30',
 '2022-07-31',
 '2022-08-31',
 '2022-09-30',
 '2022-10-31',
 '2022-11-30',
 '2022-12-31',
 '2023-01-31',
 '2023-02-28',
 '2023-03-31',
 '2023-04-30',
 '2023-05-31',
 '2023-06-30',
 '2023-07-31',
 '2023-08-31',
 '2023-09-30',
 '2023-10-31',
 '2023-11-30',
 '2023-12-31',
 '2024-01-31',
 '2024-02-29']

In [6]:
#city = "Seatlle"
seattle_only = zhviraw[zhviraw["City"]=="Seattle"]
pprint.pprint(seattle_only)
#Metro = "Seattle-Tacoma-Bellevue, WA"
stb = zhviraw[zhviraw["Metro"]=="Seattle-Tacoma-Bellevue, WA"]
# pprint.pprint(stb)

       RegionID  SizeRank  RegionName RegionType StateName State     City  \
803       99565       815       98105        zip        WA    WA  Seattle
844       99575       857       98115        zip        WA    WA  Seattle
876       99563       889       98103        zip        WA    WA  Seattle
1270      99578      1288       98118        zip        WA    WA  Seattle
1325      99583      1343       98125        zip        WA    WA  Seattle
1713      99581      1736       98122        zip        WA    WA  Seattle
2279      99577      2306       98117        zip        WA    WA  Seattle
3075      99569      3111       98109        zip        WA    WA  Seattle
3864      99595      3907       98144        zip        WA    WA  Seattle
4325      99567      4374       98107        zip        WA    WA  Seattle
4341      99566      4390       98106        zip        WA    WA  Seattle
4638      99576      4691       98116        zip        WA    WA  Seattle
4708      99568      4761       98108        zip        WA    WA  Seattle
4727      99572      4782       98112        zip        WA    WA  Seattle
4813      99579      4869       98119        zip        WA    WA  Seattle
5157      99584      5217       98126        zip        WA    WA  Seattle
5292      99624      5354       98199        zip        WA    WA  Seattle
5434      99562      5497       98102        zip        WA    WA  Seattle
5870      99580      5937       98121        zip        WA    WA  Seattle
7021      99591      7103       98136        zip        WA    WA  Seattle
7978      99561      8082       98101        zip        WA    WA  Seattle
8091      99564      8196       98104        zip        WA    WA  Seattle
16236     99590     16528       98134        zip        WA    WA  Seattle
26294     99605     39992       98164        zip        WA    WA  Seattle

                             Metro   CountyName     2000-01-31  ...  \
803    Seattle-Tacoma-Bellevue, WA  King County  355591.243828  ...
844    Seattle-Tacoma-Bellevue, WA  King County  298097.981018  ...
876    Seattle-Tacoma-Bellevue, WA  King County  268681.363421  ...
1270   Seattle-Tacoma-Bellevue, WA  King County  207437.856103  ...
1325   Seattle-Tacoma-Bellevue, WA  King County  228225.979128  ...
1713   Seattle-Tacoma-Bellevue, WA  King County  266867.866210  ...
2279   Seattle-Tacoma-Bellevue, WA  King County  278311.777935  ...
3075   Seattle-Tacoma-Bellevue, WA  King County  272955.695292  ...
3864   Seattle-Tacoma-Bellevue, WA  King County  244276.141769  ...
4325   Seattle-Tacoma-Bellevue, WA  King County  264246.449106  ...
4341   Seattle-Tacoma-Bellevue, WA  King County  180708.316037  ...
4638   Seattle-Tacoma-Bellevue, WA  King County  322788.594898  ...
4708   Seattle-Tacoma-Bellevue, WA  King County  186189.168731  ...
4727   Seattle-Tacoma-Bellevue, WA  King County  463876.868050  ...
4813   Seattle-Tacoma-Bellevue, WA  King County  303736.086336  ...
5157   Seattle-Tacoma-Bellevue, WA  King County  224417.249423  ...
5292   Seattle-Tacoma-Bellevue, WA  King County  360816.255567  ...
5434   Seattle-Tacoma-Bellevue, WA  King County  287559.468426  ...
5870   Seattle-Tacoma-Bellevue, WA  King County  296173.334632  ...
7021   Seattle-Tacoma-Bellevue, WA  King County  293743.186483  ...
7978   Seattle-Tacoma-Bellevue, WA  King County  272807.994360  ...
8091   Seattle-Tacoma-Bellevue, WA  King County  232730.956508  ...
16236  Seattle-Tacoma-Bellevue, WA  King County            NaN  ...
26294  Seattle-Tacoma-Bellevue, WA  King County            NaN  ...

         2023-05-31    2023-06-30    2023-07-31    2023-08-31    2023-09-30  \
803    1.113076e+06  1.115815e+06  1.120018e+06  1.124724e+06  1.127646e+06
844    9.839188e+05  9.857642e+05  9.898938e+05  9.961736e+05  1.002954e+06
876    8.870962e+05  8.879070e+05  8.901560e+05  8.940749e+05  8.981956e+05
1270   7.084654e+05  7.108028e+05  7.140440e+05  7.178882e+05  7.207349e+05
1325   7.742243e+05  7.758358e+05  7.797415e+05  7.855079e+05  7.907646e+05
1713   8.300902e+05  8.306224e+05  8.292953e+05  8.281253e+05  8.263364e+05
2279   9.386292e+05  9.399158e+05  9.447541e+05  9.521300e+05  9.594261e+05
3075   7.530829e+05  7.501349e+05  7.475508e+05  7.463976e+05  7.460519e+05
3864   7.962168e+05  7.963285e+05  7.969204e+05  7.984357e+05  7.998977e+05
4325   8.560880e+05  8.557250e+05  8.559471e+05  8.571221e+05  8.580636e+05
4341   6.242646e+05  6.268672e+05  6.303865e+05  6.344832e+05  6.381447e+05
4638   9.016868e+05  9.062534e+05  9.114631e+05  9.177422e+05  9.236771e+05
4708   6.743391e+05  6.760059e+05  6.784463e+05  6.813658e+05  6.840497e+05
4727   1.317059e+06  1.321526e+06  1.326273e+06  1.331716e+06  1.334954e+06
4813   1.011380e+06  1.011298e+06  1.011996e+06  1.014019e+06  1.015346e+06
5157   7.159501e+05  7.178538e+05  7.214491e+05  7.264116e+05  7.312463e+05
5292   1.152068e+06  1.156430e+06  1.163079e+06  1.170740e+06  1.175982e+06
5434   7.266974e+05  7.240360e+05  7.211774e+05  7.202964e+05  7.199846e+05
5870   6.082968e+05  6.072590e+05  6.058143e+05  6.049221e+05  6.046491e+05
7021   8.679800e+05  8.718638e+05  8.776185e+05  8.847235e+05  8.911499e+05
7978   6.201088e+05  6.202153e+05  6.202002e+05  6.218859e+05  6.238634e+05
8091   5.512145e+05  5.492348e+05  5.474336e+05  5.471512e+05  5.464170e+05
16236  4.664822e+05  4.655185e+05  4.654832e+05  4.658037e+05  4.666551e+05
26294  6.882439e+05  6.878734e+05  6.877812e+05  6.884989e+05  6.892275e+05

         2023-10-31    2023-11-30    2023-12-31    2024-01-31    2024-02-29
803    1.128655e+06  1.128388e+06  1.126764e+06  1.125109e+06  1.126282e+06
844    1.008553e+06  1.011985e+06  1.013386e+06  1.013083e+06  1.015588e+06
876    9.017017e+05  9.038128e+05  9.055027e+05  9.068749e+05  9.107905e+05
1270   7.226649e+05  7.238466e+05  7.251903e+05  7.265377e+05  7.289560e+05
1325   7.949981e+05  7.971216e+05  7.985004e+05  7.990555e+05  8.017077e+05
1713   8.254544e+05  8.242748e+05  8.241299e+05  8.249940e+05  8.278498e+05
2279   9.650608e+05  9.679687e+05  9.690139e+05  9.688084e+05  9.711679e+05
3075   7.454018e+05  7.438524e+05  7.409298e+05  7.391251e+05  7.393623e+05
3864   8.012932e+05  8.015646e+05  8.014742e+05  8.007125e+05  8.014307e+05
4325   8.588997e+05  8.588722e+05  8.583924e+05  8.584543e+05  8.600786e+05
4341   6.410160e+05  6.431420e+05  6.450925e+05  6.470780e+05  6.498811e+05
4638   9.289176e+05  9.319401e+05  9.340969e+05  9.354206e+05  9.391569e+05
4708   6.859543e+05  6.863106e+05  6.861402e+05  6.858234e+05  6.866599e+05
4727   1.336179e+06  1.334694e+06  1.331675e+06  1.328958e+06  1.329863e+06
4813   1.016443e+06  1.015956e+06  1.015438e+06  1.013814e+06  1.014865e+06
5157   7.353173e+05  7.376509e+05  7.392908e+05  7.403590e+05  7.433065e+05
5292   1.179203e+06  1.179763e+06  1.179539e+06  1.177920e+06  1.180051e+06
5434   7.200015e+05  7.187055e+05  7.164179e+05  7.148756e+05  7.144663e+05
5870   6.038365e+05  6.016736e+05  5.976696e+05  5.955625e+05  5.949716e+05
7021   8.960720e+05  8.989827e+05  9.012317e+05  9.018037e+05  9.055818e+05
7978   6.250461e+05  6.248058e+05  6.241466e+05  6.250711e+05  6.262646e+05
8091   5.456218e+05  5.440119e+05  5.424154e+05  5.416422e+05  5.412427e+05
16236  4.664335e+05  4.654205e+05  4.637799e+05  4.636420e+05  4.636375e+05
26294  6.895393e+05  6.880121e+05  6.854752e+05  6.847600e+05  6.850542e+05

[24 rows x 299 columns]

In [20]:
seattle_only.to_csv("data_sources/Seattle_zhiv.csv", index=False)
stb.to_csv("data_sources/metro_seattle_zhiv.csv", index=False)

In [13]:
filepath_kaggle_city = "data_sources/city_market_tracker.tsv000"
kaggle_city_raw = pd.read_csv(filepath_kaggle_city, delimiter=  "\t")
kaggle_city_raw

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2021-02-01,2021-02-28,30,place,6,5779,f,"Fair Lawn, NJ",Fair Lawn,New Jersey,...,-0.142857,0.086957,-0.072464,0.039787,0.214286,0.109023,-0.058442,"New York, NY",35614,2024-03-10 14:36:40
1,2019-04-01,2019-04-30,30,place,6,6504,f,"Elyria, OH",Elyria,Ohio,...,0.000000,NaN,NaN,NaN,1.000000,NaN,1.000000,"Cleveland, OH",17460,2024-03-10 14:36:40
2,2020-08-01,2020-08-31,30,place,6,24459,f,"Northwest Harwich, MA",Northwest Harwich,Massachusetts,...,-0.484848,0.285714,-0.098901,0.007937,0.500000,0.428571,0.500000,"Barnstable Town, MA",12700,2024-03-10 14:36:40
3,2018-11-01,2018-11-30,30,place,6,35672,f,"Mannford, OK",Mannford,Oklahoma,...,0.333333,0.200000,-0.175000,0.133333,0.800000,0.800000,0.800000,"Tulsa, OK",46140,2024-03-10 14:36:40
4,2013-02-01,2013-02-28,30,place,6,22064,f,"Claryville, KY",Claryville,Kentucky,...,0.250000,NaN,NaN,NaN,0.333333,NaN,-0.666667,"Cincinnati, OH",17140,2024-03-10 14:36:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5245042,2014-08-01,2014-08-31,30,place,6,18481,f,"Springfield, LA",Springfield,Louisiana,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Baton Rouge, LA",12940,2024-03-10 14:36:40
5245043,2018-12-01,2018-12-31,30,place,6,23408,f,"Heritage Hills, CO",Heritage Hills,Colorado,...,0.075000,0.153846,-0.307692,NaN,1.000000,0.750000,0.000000,"Denver, CO",19740,2024-03-10 14:36:40
5245044,2020-08-01,2020-08-31,30,place,6,14407,f,"New Market, MD",New Market,Maryland,...,0.004839,0.225806,0.134897,-0.035063,0.473684,-0.118908,-0.026316,"Frederick, MD",23224,2024-03-10 14:36:40
5245045,2016-11-01,2016-11-30,30,place,6,23730,f,"Leisure City, FL",Leisure City,Florida,...,0.125000,0.076923,-0.058212,-0.040724,0.500000,0.200000,-0.100000,"Miami, FL",33124,2024-03-10 14:36:40
5245046,2023-02-01,2023-02-28,30,place,6,14254,f,"Oakwood Hills, IL",Oakwood Hills,Illinois,...,0.000000,0.250000,0.050000,-0.250000,0.000000,-1.000000,0.000000,"Chicago, IL",16984,2024-03-10 14:36:40

In [14]:
list(kaggle_city_raw.columns)

['period_begin',
 'period_end',
 'period_duration',
 'region_type',
 'region_type_id',
 'table_id',
 'is_seasonally_adjusted',
 'region',
 'city',
 'state',
 'state_code',
 'property_type',
 'property_type_id',
 'median_sale_price',
 'median_sale_price_mom',
 'median_sale_price_yoy',
 'median_list_price',
 'median_list_price_mom',
 'median_list_price_yoy',
 'median_ppsf',
 'median_ppsf_mom',
 'median_ppsf_yoy',
 'median_list_ppsf',
 'median_list_ppsf_mom',
 'median_list_ppsf_yoy',
 'homes_sold',
 'homes_sold_mom',
 'homes_sold_yoy',
 'pending_sales',
 'pending_sales_mom',
 'pending_sales_yoy',
 'new_listings',
 'new_listings_mom',
 'new_listings_yoy',
 'inventory',
 'inventory_mom',
 'inventory_yoy',
 'months_of_supply',
 'months_of_supply_mom',
 'months_of_supply_yoy',
 'median_dom',
 'median_dom_mom',
 'median_dom_yoy',
 'avg_sale_to_list',
 'avg_sale_to_list_mom',
 'avg_sale_to_list_yoy',
 'sold_above_list',
 'sold_above_list_mom',
 'sold_above_list_yoy',
 'price_drops',
 'price_drops_mom',
 'price_drops_yoy',
 'off_market_in_two_weeks',
 'off_market_in_two_weeks_mom',
 'off_market_in_two_weeks_yoy',
 'parent_metro_region',
 'parent_metro_region_metro_code',
 'last_updated']

In [18]:
washington_kaggle = kaggle_city_raw[kaggle_city_raw["state"]=="Washington"]
washington_kaggle

,period_begin,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
64,2013-12-01,2013-12-31,30,place,6,21283,f,"Ashford, WA",Ashford,Washington,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Tacoma, WA",45104,2024-03-10 14:36:40
170,2022-03-01,2022-03-31,30,place,6,21697,f,"Camano, WA",Camano,Washington,...,-0.121176,0.312500,0.095109,NaN,0.736842,-0.204334,-0.228675,"Oak Harbor, WA",36020,2024-03-10 14:36:40
172,2014-01-01,2014-01-31,30,place,6,34037,f,"Pacific Beach, WA",Pacific Beach,Washington,...,0.000000,0.166667,NaN,-0.055556,NaN,NaN,NaN,"Aberdeen, WA",10140,2024-03-10 14:36:40
176,2012-12-01,2012-12-31,30,place,6,16163,f,"Seattle, WA",Seattle,Washington,...,0.100440,0.165846,-0.136480,-0.044575,0.504032,0.067568,0.177399,"Seattle, WA",42644,2024-03-10 14:36:40
224,2013-09-01,2013-09-30,30,place,6,1187,f,"Battle Ground, WA",Battle Ground,Washington,...,-0.057875,0.259259,-0.018113,0.028490,0.269231,-0.153846,-0.230769,"Portland, OR",38900,2024-03-10 14:36:40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5244802,2018-06-01,2018-06-30,30,place,6,24201,f,"Mirrormont, WA",Mirrormont,Washington,...,-0.492063,0.272727,-0.164773,-0.227273,0.500000,0.166667,0.166667,"Seattle, WA",42644,2024-03-10 14:36:40
5244868,2018-06-01,2018-06-30,30,place,6,28017,f,"Sunday Lake, WA",Sunday Lake,Washington,...,-0.666667,0.333333,0.000000,NaN,0.500000,0.250000,0.500000,"Seattle, WA",42644,2024-03-10 14:36:40
5244877,2018-09-01,2018-09-30,30,place,6,22139,f,"Custer, WA",Custer,Washington,...,1.000000,1.000000,0.600000,0.800000,0.000000,0.000000,0.000000,"Bellingham, WA",13380,2024-03-10 14:36:40
5244981,2022-10-01,2022-10-31,30,place,6,37485,f,"Beacon Hill, WA",Beacon Hill,Washington,...,0.500000,0.500000,NaN,0.250000,0.000000,-0.500000,-0.500000,"Longview, WA",31020,2024-03-10 14:36:40
5245026,2013-06-01,2013-06-30,30,place,6,16399,f,"Shoreline, WA",Shoreline,Washington,...,0.000000,0.333333,0.039216,0.013333,0.375000,-0.180556,0.175000,"Seattle, WA",42644,2024-03-10 14:36:40

In [19]:
washington_kaggle.to_csv("data_sources/Kaggle_Washington.csv", index=False)